<!--templates/order/order_list.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Order List</title>
        <link rel="stylesheet" href="{% static 'order/css/order_list.css' %}">
    </head>
<body>

    <h2>Order List </h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Customer Name</th>
                <th>Total Amount</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.customer_name }}</td>
                    <td>${{ order.total_amount }}</td>
                    <td>{{ order.created_at|date:"Y-m-d H:i" }}</td>
                    <td>{{ order.updated_at|date:"Y-m-d H:i" }}</td>
                    <td> 
                        <a href="{% url 'update_order' order.id %}" class="btn btn-update">Update</a>
                        <a href="{% url 'delete_order' order.id %}" class="btn btn-delete">Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6" class="no-orders">No orders found.</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="6" class="no-orders"><a href="{% url 'create_order' %}" class="btn btn-update"> create new order</a></td>
            </tr>

            
        </tbody>
    </table>
    

</body>
</html>
